<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.view"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.view.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.ctrl.CaloriesCtrlActivity"
            android:label="@string/ctrl" >
        </activity>
        <activity
            android:name="com.example.model.CaloriesInfo"
            android:label="@string/model" >
        </activity>
        <activity
            android:name="com.example.view.SetDailyCaloricNeedsActivity"
            android:label="@string/title_activity_set_daily_caloric_needs" >
        </activity>
        <activity
            android:name="com.example.view.DisplayCaloricNeedsActivity"
            android:label="@string/title_activity_display_caloric_needs" >
        </activity>
        <activity
            android:name="com.example.view.DisplayCaloriesActivity"
            android:label="@string/title_activity_display_calories" >
        </activity>
        <activity
            android:name="com.example.view.WMainActivity"
            android:label="@string/title_activity_wmain" >
        </activity>
        <activity
            android:name="com.example.util.SAMainActivity"
            android:label="@string/title_activity_samain" >
        </activity>
    </application>

</manifest>